*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: $primary-font;
  font-weight: 500;

  li{
    list-style: none;
  }
  
  *:focus{
    outline: none;
  }

  main{
    padding-top:70px;
    @include flex($direction:column);
  }

  .btn{
    background-color: unset;
    border:none;
    color:inherit;
    font-weight: inherit;
    cursor: pointer;
  }
}

::-webkit-scrollbar{
  background-color: #fff;
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color:rgb(243, 124, 103);

  &:hover{
    background-color: tomato;
  }
}