*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: $primary-font;

  li{
    list-style: none;
  }
  
  *:focus{
    outline: none;
  }

  main{
    margin-top:70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn{
    background-color: unset;
    border:none;
    color:inherit;
    cursor: pointer;
  }
}