*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: $primary-font;

  main{
    margin-top:70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}